/*!IMPORTANT*/
/*PLEASE GIVE A WIDTH OF AT LEAST 102vw TO ANY OF YOUR SECTIONS, TO COVER THE SPACE LEFT BY SLIM SCROLL BAR*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");

html, body {
  width: 100%;
  height: 100%;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Maven Pro', sans-serif;
  -webkit-tap-highlight-color: rgba(224, 224, 224, 0.2);
}

@media (max-width: 768px) {
  section {
    padding-top: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 2px;
}

body{
    overflow-x: hidden;
}

/*CSS FOR LANDING SECTION BEGINS*/
#wrapper {
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
  height: 100vh;
 

}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}


/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
  background-image: url("img/top.png");
}

.bg2::after {
  background-image: url("img/bg2.jpeg");
}
.content {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    width:102vw; /* Changed width to 102 to prevent unwanted white bars*/
    margin-top: -10px;
    margin-left:-10px;


  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  
}

.section2 {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
}
.static {
  background:black;
}
#logo{
    width:400px;
    filter:drop-shadow(10px 10px 5px black);
    margin-top:220px;
}

@media only screen and (max-width: 768px) {

    #logo{
     width:80vw;   
    }        
    
}

.register-btn{
    
    padding:5px 40px;
    background: none;
    color:white;
    border:2px solid white;
    border-radius: 40px;
    cursor:hand;
    box-shadow: 4px 4px 10px #000;
    transition: all ease-in-out 0.5s;
    outline: none;
}
.register-btn:hover{
    background:white;
    outline: none;
    color:black;
    transition: all ease-in-out 0.5s;
}


/*LANDING SECTION CSS ENDS*/

.section{
    background: black;
    width:102vw;
      /* Needed for children to be absolutely positioned relative to the parent. */
      position: relative;
      /* The height of the container. Must be set, but it doesn't really matter what the value is. */
      height: 50vh;

    }

.sectionn-heading{
    text-align: center;
    height: 100px;
    color: white;
    font-size: 52px;
}


/*CSS FOR CUSTOM SCROLLBAR*/

::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: black;
 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #8166cd;

    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;

    }

    
.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapperr { width: 70%; margin: 20px auto; position: relative;color: white;font-size: 15px;}
.counter {  padding: 10px 0; border-radius: 5px;}
.count-title {  margin-top: 10px; margin-bottom: 0; text-align: center; font-size: 35px;}
.count-text {   margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color:#48128f; }


/*TIMELINE CSS*/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #48128f;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: black;
  position: relative;
  border-radius: 6px;
  border:medium solid #48128f;
  color: rgb(187, 186, 186);
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .timeline-container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

/*COUNTDOWN*/
#timer {
  display: inline-block;
  line-height: 1;
  padding: 20px;
}

span {
  display: block;
  font-size: 15px;
  color: white;
}

#days {
  font-size: 70px;
  color: #8847dd;
  display: inline-block;
  line-height: 1;
  padding: 20px;
}
#hours {
  font-size: 70px;
  color:#8847dd;
  display: inline-block;
  line-height: 1;
  padding: 20px;
}
#minutes {
  font-size: 70px;
  color: #8847dd;
  display: inline-block;
  line-height: 1;
  padding: 20px;
}
#seconds {
  font-size: 70px;
  color: #8847dd;
  display: inline-block;
  line-height: 1;
  padding: 20px;
}