/*!IMPORTANT*/
/*PLEASE GIVE A WIDTH OF AT LEAST 102vw TO ANY OF YOUR SECTIONS, TO COVER THE SPACE LEFT BY SLIM SCROLL BAR*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");

html, body {
  width: 100%;
  height: 100%;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Maven Pro', sans-serif;
  -webkit-tap-highlight-color: rgba(224, 224, 224, 0.2);
  background-color: black;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  section {
    padding-top: 10px;
  }

}
#sponsor-logo{
  filter: grayscale(100%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 2px;
}




#octa2-ki-photo-mobile{
    display: none;
    width: 0;
    height: 0;
}

/*CSS FOR LANDING SECTION BEGINS*/
#wrapper {
  
  /* Enable scrolling on the page. */
  
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
  height: 100vh;
 

}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}


.bg1::after {
  background-image: url("img/top.png");
    background-size: cover;
    background-position: left;
}

.bg2::after {
  background-image: url("img/bg2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contentt {
    position: relative;
    width:102vw; /* Changed width to 102 to prevent unwanted white bars*/
    margin-top: -10px;
    margin-left:-10px;


  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  
}

#sponsor-logo{
       border-radius: 20px !important;
}
.section2 {
    /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
}
@media only screen and (max-width: 564px) {

    .section2{
      display: ;
    }
    
}

.static {
  background:black;
}
#logo{
    width:400px;
    filter:drop-shadow(10px 10px 5px black);
    margin-top:220px;
}



@media only screen and (max-width: 564px) {

    #logo{
     width:80vw;   
    }        

    .aboutsection{
      min-height: 300vh;
      background-color: black;
       padding-top: 10px;
    }
    #sponsor-logo{
        height:auto !important;
        width:200px!important;
        padding:20px !important;
        border-radius: 20px !important;
        padding-top: none !important;

        
    }
    #faq-vaali-photo{
        width:65% !important;
        padding-bottom: 20%;
    }
    #octa2-ki-photo{
        height:0vh;
        display: none;
            
    }
    #octa2-ki-photo-mobile{
        display: block;
        height: auto;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
    }

}


.aboutsection{
  text-align: center;min-height: 90vh;
   padding-top: 10px;
   background-color: black;
}
.register-btn{
    
    padding:5px 40px;
    background: none;
    color:white;
    border:2px solid white;
    border-radius: 40px;
    cursor:hand;
    box-shadow: 4px 4px 10px #000;
    transition: all ease-in-out 0.5s;
    outline: none;
}
.register-btn:hover{
    background:white;
    outline: none;
    color:black;
    transition: all ease-in-out 0.5s;
}


/*LANDING SECTION CSS ENDS*/

.section{
    background: black;
    width:102vw;
      /* Needed for children to be absolutely positioned relative to the parent. */
      position: relative;
      /* The height of the container. Must be set, but it doesn't really matter what the value is. */
      height: 50vh;

    }

.sectionn-heading{
    text-align: center;
    height: 100px;
    color: white;
    font-size: 52px;
}
.counttext{
  text-align: center; color:#8847dd; font-size: 20px;
}
.aboutrow{
  max-width: 55%;margin: 0 auto;text-align: center; 
}

@media only screen and (max-width: 768px) {
  .sectionn-heading{
    font-size: 30px;
   text-align: center;

    max-width: 100%;
  }
  
}
@media only screen and (max-width: 768px){
  .aboutrow{
    max-height: 100%;
    max-width: 85%;


  }

  .counttext{
    font-size: 12px;
  }
  .mapsvala{
     min-width: 90%;
    }
}
@media only screen and (max-width: 768px){
  .abouttext{
    margin:0;
    
  }
}

@media only screen and (max-width: 768px){
  .about-text{
    
  }
}

/*CSS FOR CUSTOM SCROLLBAR*/

::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: black;
 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #8166cd;

    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;

    }

    
.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapperr { width: 70%; margin: 20px auto; position: relative;color: white;font-size: 15px;}
.counter {  padding: 10px 0; border-radius: 5px;}
.count-title {  margin-top: 10px; margin-bottom: 0; text-align: center; font-size: 45px;}
.count-text {   margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color:#48128f; }





@media only screen and (max-width: 600px){
  .count-title{
    font-size: 25px;
  }
  .count-text{
    font-size: 10px;
  }
  
}


/*TIMELINE CSS*/

.timelinesection{
  background-color: black;
  width:102vw;
      /* Needed for children to be absolutely positioned relative to the ent. */
      position: relative;
      /* The height of the container. Must be set, but it doesn't really matter what the value is. */
      max-height: 150vh;
}

@media only screen and (max-width: 600px){
  .timelinesection{
    max-height: 250vh;
  }
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #48128f;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: black;
  position: relative;
  border-radius: 6px;
  border:medium solid #48128f;
  color:white;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .timeline-container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}



/*COUNTDOWN*/
#timer {
  display: inline-block;
  line-height: 1;
  padding: 20px;
}

span {
  display: block;
  font-size: 15px;
  color: white;
}


#days {
  font-size: 70px;
  color: #8847dd;
  display: inline-block;
  line-height: 1;
  padding: 20px;
}
#hours {
  font-size: 70px;
  color:#8847dd;
  display: inline-block;
  line-height: 1;
  padding: 20px;
}
#minutes {
  font-size: 70px;
  color: #8847dd;
  display: inline-block;
  line-height: 1;
  padding: 20px;
}
#seconds {
  font-size: 70px;
  color: #8847dd;
  display: inline-block;
  line-height: 1;
  padding: 20px;
}


.previoussection
{
  height: 190vh;
}


@media only screen and (max-width: 564px) {

    #days{
      font-size: 50px;
    }
    #hours{
      font-size: 50px;
    }
    #minutes{
      font-size: 50px;
    }
    #seconds{
      font-size: 50px;
    }
    .previoussection
    {
      height: auto;
      min-height: 70px;
    }
    .sponsortext
    {
      font-size: 16px;
    }
    
}

/*FAQs section*/
.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 2rem 3rem 2rem 1rem;
  font-size: 1.15rem;
  font-weight: 400;
  border-top: 1px solid #222222;
  color: white;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
}


.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #48128f;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #48128f;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #222222;
  
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
  color: white;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



/*CUSTOM BOOTSTRAP CSS FOR TRACKS*/

.card{
    height:225px;
    margin-bottom:30px;
    background: #48128f !important;
    transition: all ease-in-out 0.8s;
    border:1px solid black;
    cursor: hand;
}
.card-ka-content{
    transition: all ease-in-out 0.8s;
}
.card-ka-description{
    opacity: 0;
    height: 0;
    display: none;
    transition: all ease-in-out 0.4s;
}
.card:hover{
    background-color: #000000 !important;
    border:1px solid #48128f!important;
}
.card:hover .card-ka-content{
    opacity: 0;
    height: 0;
    display: none;
}
.card:hover .card-ka-description{
    opacity: 100;
    height: auto;
    display: block;
}


#description-para{
    text-align: left;
    padding:5px 10px;
    color:#fff;
}


#footer-section {
    width: 102vw;
    background-color: black;
    text-align: center;
    color: grey;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-content: center;
}
@media screen and (max-width:768px) {
  #footer-section {
    width: 100%;
   
  }
}
#fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: white;
}

.fa-linkedin {
    color: white;
}

.fa-instagram {
    color: white;
}

/*Makes all the images undraggable*/
img{
user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

/*End cards */

/* Float columns side by side */
.endcolumn {
  float: left;
  width: 22%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.endrow {margin: 0 -5px;
margin-left:36%;
background-color:black;}

/* Clear floats after the columns */
.endrow:after {
  content: "";
  display: table;
  clear: both;
}
#endsection{
  width: 102vw;
    background-color: black;
    text-align: center;
    color:rgb(218, 213, 213);
}
/* Responsive columns */
@media screen and (max-width:768px) {
  .endcolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
   
  }

  #endsection {
    width: 100%;
    display: block;
    max-height: 50vh;
   
  }
  .endrow{
  margin-left:0%;

  }
}

/* Style the counter cards */
.endcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #222222;
}

