/*!IMPORTANT*/
/*PLEASE GIVE A WIDTH OF AT LEAST 102vw TO ANY OF YOUR SECTIONS, TO COVER THE SPACE LEFT BY SLIM SCROLL BAR*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");

html, body {
  width: 100%;
  height: 100%;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Maven Pro', sans-serif;
  -webkit-tap-highlight-color: rgba(224, 224, 224, 0.2);
}

@media (max-width: 768px) {
  section {
    padding-top: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 2px;
}

body{
    overflow-x: hidden;
}

/*CSS FOR LANDING SECTION BEGINS*/
#wrapper {
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
  height: 100vh;
 

}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}


/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
  background-image: url("img/top.png");
}

.bg2::after {
  background-image: url("img/bg2.jpg");
}
.content {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    width:102vw; /* Changed width to 102 to prevent unwanted white bars*/
    margin-top: -10px;
    margin-left:-10px;


  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  
}

.section2 {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
}
.static {
  background:black;
}
#logo{
    width:400px;
    filter:drop-shadow(10px 10px 5px black);
    margin-top:220px;
}

@media only screen and (max-width: 768px) {

    #logo{
     width:80vw;   
    }        
    
}

.register-btn{
    
    padding:5px 40px;
    background: none;
    color:white;
    border:1px solid white;
    border-radius: 20px;
    cursor:hand;
    box-shadow: 4px 4px 10px #000;
    transition: all ease-in-out 0.5s;
    outline: none;
}
.register-btn:hover{
    background:white;
    outline: none;
    color:black;
    transition: all ease-in-out 0.5s;
}


/*LANDING SECTION CSS ENDS*/

.section{
    background: black;
    width:102vw;
      /* Needed for children to be absolutely positioned relative to the parent. */
      position: relative;
      /* The height of the container. Must be set, but it doesn't really matter what the value is. */
      height: 70vh;

    }

.sectionn-heading{
    text-align: center;
    height: 100px;
    color: white;
    font-weight: bolder;
    font-size: 52px;
}


/*CSS FOR CUSTOM SCROLLBAR*/

::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: black;
 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #8166cd;

    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;

    }

